.header {
  background: rgb(7, 41, 62);
  padding: 16px 0;
  color: white;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__list-item {
  font-family: "Joyride W05 STD";
  font-size: 14px;
  font-weight: 400;
}
.header__link {
  color: white;
}
